extends layout

block content

  h1 Cliente: #{cliente.nombre_apellido}
  h3 Fecha nacimiento: #{cliente.fecha_nacimiento_formatted}
  p #[strong Coches comprados:]&nbsp;
    each val, index in cliente.coche
      a(href=val.url) #{val.modelo}
      if index < cliente.coche.length - 1
        |,


  hr
  p
    a(href=cliente.url+'/delete') Delete cliente
  p
    a(href=cliente.url+'/update') Update cliente