extends layout

block content

  h1 Coche: #{coche.modelo}
  if coche.fecha_de_fabricacion==NULL
     p No hay registro de la fecha de fabricación
  else
    p #[Strong Fecha de fabricación: ] #{coche.fecha_de_fabricacion_formatted}
    p #[strong Concesionario: ]
      for concesionario in todos_concesionarios
        if concesionario.id == coche.marca
          a(href=concesionario.url) #{concesionario.nombre}
          p #[strong Marca:] #{concesionario.marca_concesionario}
        else
    p #[Strong Color:] #{coche.color}
    p #[Strong Precio:] #{coche.precio_venta}€

  div(style='margin-left:20px;margin-top:20px')

    p ¿Seguro que quieres eliminar el coche?
    
    form(method='POST' action='')
      div.form-group
        input#id.form-control(type='hidden',name='id', required='true', value=coche._id )

      button.btn.btn-primary(type='submit') Delete
